
/*css variables 
creating a variable with global scope
color Palette*/
:root {
  --yellow: #f1bb4e;
  --limeGreen: #84f14e;
  --blue: #0000FF; /*same as named color blue*/
  --pink: #f14ebd;
  --ltGrey: #ded9d1;
  --white: #ffffff;
}

body {
  min-width: 100%;
}

 /* div {
  border: 1px solid red;
}  */

.container {
  display: grid;
  width: 50%;
  height: auto;
  margin: auto;
  background: var(--ltGrey);
  justify-content: center;
  
}

.title {
  padding-top: 40px;
  text-align: center;
  color: var(--pink);
 //text-shadow: 1px 1px 2px;
}

.gridContainer {
  padding-bottom: 60px;
  margin: auto;

}

.background {
  display: inline-block;
  background: black;
  
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 100px);
  grid-gap: 7px;
}

.row {
  display: flex;

}

.column {
  flex: 50%;
  padding: 10px;
  
}



.player {
  border-radius:10px;
  text-align: center;
  padding: 0px 20px;
  margin-bottom: 20px;

}


.blink {
  animation: blinker 1s linear infinite;
  

   
  font-weight:bold;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.square {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: var(--ltGrey);
}

.gameOver {
  font-size 5rem;
  font-weight: bold;
  height: 50px;
  width: 300px;
  background: var(--ltGrey);
  color: var(--blue);
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

#playAgain {
  display: none;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  
  border: 0.16em solid rgba(255, 255, 255, 0);
  padding: 5px 10px;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;
  background-color: var(--limeGreen);
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}
